/*Cascading Style Sheet*/
/*선택자(selector)*/
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
div#header-center {
  margin: 0 auto;
  width: 1080px;
}
#header-search a {
  text-decoration: none;
}
/*h1은 div header-search의 자식 태그이므로 아래와 같은 형식으로 선택자 하면된다.
그러나 자식도 자손이기 때문에 > 안써도 무방*/

div#header-search h1 {
  display: inline-block;
  width: 230px;
  height: 50px;
  background-image: url(./sp_main5.png);
  background-position: 0 -160px;
  background-repeat: no-repeat;
  /* vertical-align: top; */
  /* content: ""; */
  /* text-indent: 100%; */
  /* overflow: hidden; */
  /*기본값은 block이다. 따라서 아래와 같이 바꿔서 공간을 잘 활용해야한다.*/
}
div#header-search h1 span {
  display: none;
}
/* h1은 div header-center의 자손태그이므로 아래와 같은 형식으로 선택자 하면된다.
div#header-center h1 {
} */

div#header-search h2 {
  /*display: none은 스크린 리더도 못읽는다. 따라서 다음시간에 다른 방법을 쓸것이다.*/
  display: none;
}
div#header-search fieldset {
  margin-left: 20px;
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10;
  padding-right: 0; */
  padding: 12px 0 12px 10px;
  border: 2px solid #03cf5d;
  width: 521px;
  height: 49px;
  display: inline-block;
  box-sizing: content-box;
  /*왜 네이버페이지랑 똑같이 설정했는데 크기가 다를까?
  */
}
