/*Cascading Style Sheet*/
/*선택자(selector)*/
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕",
    helvetica, "Apple SD Gothic Neo", sans-serif;
}
/*h태그는 마진이 기본적으로 들어가있음. 그래서 미리 초기화 해놓고 시작하는 것이
설정할때 헷갈리지 않는다.*/
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
.inline-block {
  display: inline-block;
}
.float-left {
  float: left;
}
.blind {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
  width: 1px;
  height: 1px;
}
.center-align {
  position: relative;
  margin: 0 auto;
  width: 1080px;
}
header {
  height: 170px;
}
#header-top {
  float: right;
  margin-top: 7px;
}
#header-top a {
  text-decoration: none;
}
#header-top .link-set {
  font-size: 11px;
  color: #404040;
  line-height: 22px; /*font-size가 커져도 높이는 22px로 고정됨
  폰트 속성만 파고들면 또 상당히 복잡함. 나중에 공부해보면 좋을 듯!!*/
}
#header-top .link-set::after {
  display: inline-block;
  background-image: url(./sp_main6.png);
  width: 31px;
  height: 33px;
  background-position: 0px -199px;
  background-repeat: no-repeat;
  vertical-align: top;
  content: "";
  margin: -4px 0 0 5px;
}

#header-search {
  clear: right;
  padding-top: -5px;
}
#header-search a {
  text-decoration: none;
}
/*h1은 div header-search의 자식 태그이므로 아래와 같은 형식으로 선택자 하면된다.
그러나 자식도 자손이기 때문에 > 안써도 무방*/

div#header-search h1 {
  display: inline-block;
  width: 231px;
  height: 48px;
  background-image: url(./sp_main5.png);
  background-position: 0 -170px;
  background-repeat: no-repeat;
  vertical-align: middle;
  /* content: ""; */
  /* text-indent: 100%; */
  /* overflow: hidden; */
  /*기본값은 block이다. 따라서 아래와 같이 바꿔서 공간을 잘 활용해야한다.*/
}
div#header-search h1 span {
  display: none;
}
/* h1은 div header-center의 자손태그이므로 아래와 같은 형식으로 선택자 하면된다.
div#header-center h1 {
} */

div#header-search h2 {
  /*display: none은 스크린 리더도 못읽는다. 
  .따라서 다음시간에 다른 방법을 쓸것이다.*/
  display: none;
}
div#header-search fieldset {
  margin-left: 20px;
  /* padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10;
  padding-right: 0; */
  padding: 12px 0 12px 10px;
  border: 2px solid #03cf5d;
  width: 582px;
  height: 52px;
  vertical-align: middle;
  display: inline-block;
  box-sizing: border-box; /*컨텐츠 중심에서 보더 중심으로바꿈
  왜 네이버페이지랑 똑같이 설정했는데 크기가 다를까?
  */
  position: relative;
}
div#header-search fieldset input {
  border: none; /*내가 설정하지 않아도 브라우저에서 자동으로 패딩이나 보더값을 넣어놔버림
  따라서 이것을 없애는 코드이다.*/
  padding: 0;
  outline: none; /**/
  vertical-align: top;
  width: 405px;
  height: 23px;
}
#header-search fieldset button {
  /*원래는 형제태그인 input그다음에 위치하지만 position을 이용하여 위치를 바꿀 수 있다.*/
  width: 49px;
  height: 49px;
  border: none;
  padding: 0;
  background: #03cf5d;
  position: absolute;
  right: 0;
  top: 0;
}
#search-keybord {
  background-image: url(./sp_main3.png);
  background-repeat: no-repeat;
  background-position: -447px -300px;
  width: 28px;
  height: 18px;
  display: inline-block;
  margin-left: 50px;
  margin-top: 5px;
}
#search-history {
  background-image: url(./sp_main3.png);
  background-repeat: no-repeat;
  background-position: -176px -170px;
  width: 15px;
  height: 13px;
  display: inline-block;
}
#search-image {
  background-image: url(./sp_main3.png);
  background-position: -475px -28px;
  background-repeat: no-repeat;
  width: 24px;
  height: 27px;
  display: inline-block;
  vertical-align: top;
}
nav {
  position: relative;
  height: 46px;
  border-top: 1px solid #f1f3f6;
  border-bottom: 1px solid #d1d8e4;
}
nav ul {
  display: inline-block;
  margin: 0;
  padding: 16px 0 0 4px;
  list-style: none;
}
#nav-menu li {
  display: inline-block;
}
/*공통적인 것은 빼서 묶어주는 것이 좋은 코딩!!
 */
#nav-menu li span:first-child {
  height: 16px;
  display: inline-block;
  background-image: url(sp_nav.png);
  background-repeat: no-repeat;
  margin-left: 14px;
}

/*nav안에 첫번째 list선택
그런데 first-child, nth-child같은 것은 실무에서 안쓰는 것이 좋음. 유지보수가 힘듦*/
/*우선순위가 nav li span:first-child(동메달 2개 은메달 1개)보다 높음 
nav li:first-child span:first-child는 동메달 1개 은메달 2개*/
#nav-menu li:first-child span:first-child {
  width: 25px;
  background-position: 0 -285px;
  margin-left: 0;
}
#nav-menu li:nth-child(2) span:first-child {
  width: 27px;
  background-position: -279px -52px;
}
#nav-menu li:nth-child(3) span:first-child {
  width: 40px;
  background-position: -100px -182px;
}
#nav-menu li:nth-child(4) span:first-child {
  width: 40px;
  background-position: -101px -156px;
}

#nav-menu li:nth-child(5) span:first-child {
  width: 26px;
  background-position: -279px -156px;
}

#nav-menu li:nth-child(6) span:first-child {
  width: 25px;
  background-position: -70px -285px;
}
#nav-menu li:nth-child(7) span:first-child {
  width: 32px;
  background-position: -275px -207px;
}
#nav-menu li:nth-child(8) span:first-child {
  width: 32px;
  background-position: -129px -104px;
}
#nav-menu li:nth-child(9) span:first-child {
  width: 32px;
  background-position: -35px -260px;
}
#nav-menu li:nth-child(10) span:first-child {
  width: 40px;
  background-position: -153px -156px;
}
#nav-menu li:nth-child(11) span:first-child {
  width: 28px;
  background-position: -280px -130px;
}
#nav-menu li:nth-child(12) span:first-child {
  width: 46px;
  background-position: -165px -130px;
}
#nav-menu li:nth-child(13) span:first-child {
  width: 26px;
  background-position: -134px -79px;
}
#nav-menu li:nth-child(14) span:first-child {
  width: 32px;
  background-position: -277px -1px;
}
#nav-menu li.more:first-child span:first-child {
  width: 55px;
  background-position: 0 -104px;
}

.nav-divider {
  display: inline-block;
  margin: 18px 16px 0;
  width: 1px;
  height: 14px;
  background: #ebeef3;
}

#search-ranking {
  position: absolute;
  top: 10px;
  right: 0;
  width: 198px;
  height: 20px;
}

#search-ranking ul {
  display: none;
  list-style: none;
  padding: 17px;
  margin: 0;
  width: 332px;
  height: 334px;
  border: 1px solid #aaa;
  background-color: white;
  position: absolute;
  top: -14px;
  right: 0;
  z-index: 100;
}
#search-ranking:hover ul {
  display: inline-block;
}
#rank-number {
  margin-top: -9px;
  color: #00ab33;
  font-size: 16px;
}
#rank-title {
  letter-spacing: -1px;
  font-size: 14px;
}
main {
  background-color: #f2f4f7d7;
  display: inline-block;
  width: 100%;
}
#main-centered {
  padding: 8px 10px;
  width: 1100px;
}
#main-first-block {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
#main-ad {
  /* display: inline-block; ->float을 쓰면 inline-block이 필요없음*/
  width: 740px;
  height: 120px;
  background: #555;
  margin-right: 8px;
  margin-bottom: 8px;
  float: left;
}
#main-login {
  /* display: inline-block;->float을 쓰면 inline-block은 안써도 됨 */
  width: 332px;
  height: 120px;
  vertical-align: top;
  background-color: white;
  margin-bottom: 8px;
  float: left;
  z-index: 1;
}
#main-login .login-wrapper {
  padding: 15px 25px;
}
#main-login .login-wrapper a {
  display: block;
}
#main-login .login-text {
  color: #888;
  font-size: 12px;
  line-height: 14px;
}
#main-login .login-image {
  background: url(./sp_login.png) 0 -47px no-repeat;
  display: inline-block;
  width: 280px;
  height: 37px;
  display: inline-block;
  margin-top: 12px;
}
#main-login .login-signup {
  float: right;
  font-size: 12px;
  line-height: 38px;
  color: #666;
  text-decoration: none;
}
#main-login .login-signup:hover {
  text-decoration: underline;
}
#main-second-block {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;
}
#main-second-block .float-left:first-child {
  width: 740px;
  margin-right: 8px;
}
#main-second-block .float-left:last-child {
  width: 332px;
  vertical-align: top;
}
#main-ytn {
  display: inline-block;
  width: 740px;
  height: 46px;
  background-color: white;
  margin-bottom: 8px;
}
#main-ytn h3,
#main-ytn ol {
  display: inline-block;
}
#main-newsstand {
  display: inline-block;
  width: 740px;
  height: 246px;
  background-color: white;
  margin-right: 8px;
  vertical-align: top;
}
#main-newsstand h3 {
  height: 45px;
  border-bottom: 1px solid #ebeef3;
}
#main-newsstand ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
#main-newsstand li {
  width: calc(100% / 6);
  height: 67px;
  float: left;
  border-right: 1px solid #f1f3f6;
  border-bottom: 1px solid #f1f3f6;
  text-align: center;
}
#main-newsstand li img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
#main-weather {
  display: inline-block;
  width: 332px;
  height: 142px;
  background-color: white;
  margin-bottom: 8px;
  vertical-align: top;
}
#main-second-ad {
  display: inline-block;
  width: 332px;
  height: 150px;
  background: #555;
  vertical-align: top;
}
#main-category {
  /* display: inline-block; */
  float: left;
  width: 740px;
  height: 882px;
  background-color: white;
  margin-right: 8px;
  margin-bottom: 8px;
}
#main-shpping {
  /* display: inline-block; */
  float: left;
  width: 330px;
  height: 882px;
  background-color: white;
  margin-bottom: 8px;
}
#main-shpping iframe {
  width: 100%;
  height: 100%;
}
#main-third-block,
#main-fourth-block {
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
#main-event {
  /* display: inline-block; */
  float: left;
  width: 740px;
  height: 130px;
  background-color: white;
  vertical-align: top;
  margin-right: 8px;
}
#main-third-ad {
  float: left;
  width: 332px;
  height: 130px;
  background-color: #555;
}
/*main의 속성중 displat: inline-block을 주므로 마진상쇄를 없앴다.*/
